.button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.register-button {
  background-color: #76d89e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto; 
}

.register-button:hover {
  background-color: #66c08c; 
}
